* {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #F4F7F6;
    font-family: 'Cabin', sans-serif;
}

.header_top {
    align-items: center;
    background-color: #f4f7f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 70px;
    box-sizing: inherit;
    text-align: center;
    flex-direction: row;
    border-bottom: 1px solid #e6eaea;
    font-size: 16px;
}

.eng {
    width: 5%;
}

.language {
    border-bottom: 1px solid #b3b6b6;
}

.desc {
    width: 90%;
    font-size: 18px;
}

.top_img {
    width: 5%;
}

.header_nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #f4f7f6;
    align-items: center;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #e6eaea;
    z-index: 10;
}

.nav_left {
    padding: 23px;
    border-right: 1px solid #e6eaea;
    cursor: pointer;
}

.nav_right {
    position: relative;
    line-height: 72px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.site_title {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    position:relative;
    left: 150px;
}
.nav_right_right {
    position: relative;
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.member_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 100%;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 400;
}

.register {
    margin : 0 10px 0 10px;
}

.submit {
    width: 180px;
    height: 70px;
    background: #49c5b6;
    color: #fcfcfc;
    line-height: 73px;
    font-size: 14px;
    font-weight: 400;
}

.submit a {
    color: white;
}

#main_box {
    position: relaive;
    margin-bottom: 50px;
}

.main_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(images/main_background.jpg);
    
}

.main_top {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.site_date {
    display: flex;
    justify-self: left;
}
.date {
    font-weight: 200;
    margin-left: 10px;
}

.site {
    font-weight: 700;
}

.fa-share-alt-square {
    position: relative;
    font-size: 30px;
}

.main_info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main_head {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.main_circle {
    display: flex;
    justify-content: center;
}
.circle {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 4px solid black;
    margin: 20px 10px 5px 10px;
}

.eval_point {
    font-size: 30px;
    line-height: 80px;
    font-weight: 400;
}

.eval_element {
    line-height: 70px;
}

.main_footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.main_footer_left {
    display: flex;
    justify-content: center;
}

button {
    background: #f4f7f6;
    border:none;
    cursor: pointer;
}

a {
    color: black;
}
.button {
    position: relative;
    width: 100px;
    height: 40px;
    border-radius : 40px;
    margin-right: 10px;
    background: black;

}

.button_name {
    color: #fcfcfc;
    position: relative;
    top: 10px;
    left: 10px;
}

.collect .button_name {
    left: 20px;
}

.visit .button_name {
    left: 13px;
}

.main_footer_right {
    display: flex;
    justify-content: center;
}
.face {
    font-size: 40px;
    margin-right: 5px;
}

.art_box {
    position: relative;
    padding: 0 66px 100px 66px;
    display:flex;
    flex-direction: column;
}
.art_box_header {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.art_box_top a {
    font-weight: bold;
    margin-right: 5px;
}

.art_box_top p {
    font-weight: thin;
}
.art_box_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.art_box_top_left {
    display: flex;
    justify-content: center;
}

.art_box_top_right {
    display: flex;
    justify-content: center;
    position: relative;
    right: 180px;
}

.art_box_content_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    position:relative;
}

.art_box_content {
    width: 24%;
    margin-right: 15px;
    background-color: #fcfcfc;
}

.art_image {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
}

.img_info {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.from {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    line-height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6eaea;
}

.designer_info {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
}

.designer_thumbnail {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.designer {
    display: flex;
    justify-self: unset;
}

.designer_name {
    font-size: 14px;
    font-weight: 100;
    margin: 20px 0 0 10px;
}

.art_box.art_box_last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.awards {
    display: flex;
    justify-content:last baseline;
    font-size: 20px;
    margin-top: 15px;
}

.main_foot {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    margin: 30px 0;
}

.load_more {
    width: 150px;
    height: 60px;
    background-color: #fcfcfc;
    border: none;
    color: #bdc1c0;
    font-size: 17px;
}

#foot {
    background-color: #fcfcfc;
}
.footer_top_wrap {
    padding: 70px 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: thin;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer_top_right {
    display: flex;
    font-weight: 500;
}

.right_content {
    padding-left: 10px;
    font-size: 15px;
}
.anchor_wrap {
    display: flex;
    padding: 40px 0;
}

.anchor {
    padding-right: 15px;
}

.sns_wrap {
    display: flex;
}

.sns_name {
    padding-right: 15px;
}

.soon {
    border-bottom: 1px solid #bababa;
}

.footer_bottom_wrap {
    border-top: 1px solid #bababa;
}

.footer_bottom {
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;

}

.footer_bottom_left {
    display: flex;
    box-sizing: border-box;
}

.footer_bottom_anchor {
    padding-right: 10px;
}