@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

main {
    width: 100%;
    height: 100%;
}
.main-image {
    width: 100%;
    height: 100vh;
    background-image: url($main-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    @include flex-style(center, center, column);
    p {
        display: inline;
        z-index: 10;
        color: $white;
        font-size: $font-64;
        font-weight: $font-weight-mid;
    }
}

.flex-wrap {
    max-width: 1390px;
    margin: 120px auto 0;
    padding: 0 20px;
}

.main-header {
    text-align: center;
    padding: 120px 70px;
    @include flex-style(center, center, column);

    .main-desc {
        max-width: 580px;
        margin-top: 24px;
        font-size: $font-20;
        color: $font-color-main-cont;
        line-height: 24px;
        font-weight: $font-weight-mid;
    }
}

.article-first {
    max-width: 1072px;
    margin: 154px auto 106px;
    padding: 0 48px;
    @include flex-style(flex-start, space-between, row);
    .article-first-left {
        position: relative;
        .watch {
            position: absolute;
            @include flex-style(center, space-between, row);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            
            i {
               font-size: $font-36; 
               margin-right: 12px;
            }
            span {                
                color: $white;
                font-weight: $font-weight-bold;
            }
        }
        img {
            width: 536px;
            height: 536px;
            object-fit: cover;
        }
    }
    .article-first-right {
        padding-left: 107px;
        h2 {
            line-height: 43.2px;
            font-size: $font-36;
            color: $font-color-main-header;
        }
        .article-desc {
            margin: 16px 0 32px 0;
            font-size: $font-16;
            color: $font-color-main-cont;
            line-height: 24px;
        }
        .play-list{
            max-height: 310px;
            h3 {
                font-size: $font-12;
                color: $font-color-main-header;
                margin-bottom: 20px;
            }
            ul{
                @include flex-style(flex-start, center, column);
                overflow-y: scroll;
                max-height: 220px;
                padding-top: 40px;
                li {
                    box-sizing: border-box;
                    width: 100%;
                    min-height: 51px;
                    padding: 7px 10px 0 0;
                    border-bottom: 1px solid $border-color;
                    @include flex-style(center, space-between, row);
                    .play-list-left {
                        @include flex-style(center, flex-start, row);
                    }
                    i {
                        font-size: $font-36;
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}

.article-second {
    max-width: 1072px;
    margin: 144px auto 0;
    padding: 144px 0 128px 0;
    text-align: center;
    h2 {
        font-size: $font-48;
        padding-bottom: 16px;
        color: $font-color-main-header;
    }
    p {
        max-width: 410px;
        margin: 0 auto;
        margin-bottom: 120px;
    }
    .second-art-box {
        display: flex;
        justify-content: flex-end;
    }
    section {
        @include flex-style(flex-start, center, column);
        img {
            width: 460px;
            height: 368px;
            object-fit: cover;
        }
        p {
            font-size: $font-36;
            margin: 16px 0 24px 0;
            color: $font-color-main-header;
            font-weight: $font-weight-bold;
        }
        .add-explore {
            @include flex-style(center, center, row);
            i {
                margin-right: 12px;
                font-size: $font-24;
                color: $font-color-main-cont;
            }
        }
    }
}

.article-third {
    @include flex-style(center, space-between, row);
    padding: 64px 24px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    max-width: 1295px;
    margin: 0 auto;
    .article-third-left {
        margin-left: 112px;
        h2 {
            font-size: $font-48;
            color: $font-color-main-header;
    
        }
        .add-explore {
            margin-top: 20px;
            i {
                margin-right: 12px;
                font-size: $font-24;
                color: $font-color-main-cont;
            }
        }
    }
    img {
        width: 618px;
        height: 448px;
        object-fit: cover;
    }
}

.article-fourth {
    max-width: 1192px;
    margin: 0 auto;
    padding-bottom: 155px;
    text-align: center;
    .article-fourth-desc {
        @include flex-style(center, center, column);
        padding: 120px 72px;
        h2 {
            max-width: 420px;
            font-size: $font-48;
            padding-bottom: 16px;
            line-height: 120%;
            color: $font-color-main-header;
        }
        p {
            line-height: 150%;
            color: $font-color-main-header;
        }
    }
    img {
        width: 100%;
        height: 100%;
    }
    .img-top {
        position: relative;
        object-fit: cover;
    }
    .img-bottom {
        @include flex-style(flex-start, space-between, row);

        div {
            width: 48%;
            text-align: left;
            h3 {
                padding-top: 22px;
                margin-bottom: 18px;
                font-size: $font-18;
                color: $font-color-main-header;
            }
            p {
                margin-bottom: 22px;
                color: $font-color-footer-cont;
                line-height: 150%;
            }

        }
    }
    .watch {
        position: absolute;
        @include flex-style(center, space-between, row);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        i {
            font-size: $font-36; 
            margin-right: 12px;
         }
         span {                
             color: $white;
             font-weight: $font-weight-bold;
         }
    }
    .commitments {
        text-align: left;
        padding: 19px 0 24px;
        color: $font-color-main-cont;
        span {
            margin-left: 16px;
        }
    }
}

