$white: #fff;
$footer-background: #f7f7f7;
$border-color: #ccd1d4;
$border : #e1e4e8;

$font-color-main-header: #344854;
$font-color-main-cont: #67788a;
$font-color-nav: #677b8c;
$font-color-nav-hover: #95a3af;
$font-color-footer-tit: #232323;
$font-color-footer-cont: #50526b;

$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;
$font-36: 36px;
$font-48: 48px;
$font-64: 64px;

$font-weight-light: 300;
$font-weight-mid: 400;
$font-weight-bold: 600;


$font-main: 'Montserrat', sans-serif;

$main-image: "https://scontent-ssn1-1.xx.fbcdn.net/v/t39.8562-6/252509574_769584853942762_4631444119178197375_n.png?_nc_cat=1&ccb=1-5&_nc_sid=6825c5&_nc_ohc=hQYSQdpQf60AX9uKJCu&_nc_ht=scontent-ssn1-1.xx&oh=74e538e0de529615afcc09d149f825b3&oe=61B20394";
$meta-logo: "https://scontent-ssn1-1.xx.fbcdn.net/v/t39.8562-6/250808026_615683476457212_3164876162830833167_n.png?_nc_cat=1&ccb=1-5&_nc_sid=6825c5&_nc_ohc=EQE4btkAF1oAX-uuACT&_nc_ht=scontent-ssn1-1.xx&oh=baf3e29463f2604ed24e0889123049c0&oe=61AAB580";
// meta logo: https://scontent-ssn1-1.xx.fbcdn.net/v/t39.8562-6/250808026_615683476457212_3164876162830833167_n.png?_nc_cat=1&ccb=1-5&_nc_sid=6825c5&_nc_ohc=EQE4btkAF1oAX-uuACT&_nc_ht=scontent-ssn1-1.xx&oh=baf3e29463f2604ed24e0889123049c0&oe=61AAB580