/* util */
.sr-only {
  position: absolute; /* position: absolute/fixed 에서만 clip 속성 작동 */
  margin: -1px; /* 부트스트랩에선 안씀 */
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden; /* overflow: visible 이면 clip 속성 작동 안됨 */
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%); /* H5BP에선 안씀 */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d151c;
  padding: 6px 16px;
}

.header-wrap .logo {
  color: white;
  font-weight: 800;
}

.nav-wrap {
  display: flex;
  position: relative;
}

.nav-wrap li a {
  line-height: 25.6px;
  color: #b2c0cc;
  padding: 0 8px;
}

.nav-wrap li a:hover,
.header-icon-wrap li a:hover {
  color: #fff;
}

.nav-wrap li:nth-child(5)::after {
  display: block;
  position: absolute;
  content: "|";
  top: 6px;
  left: 332.5px;
  color: white;
}

.header-icon-wrap {
  display: flex;
}

.header-icon-wrap li a {
  margin-left: 12px;
  color: #b2c0cc;
}

/* main */
.carousel-wrap {
  background: #182334;
}

.carousel {
  max-width: 1168px;
  color: white;
}

.carousel article {
  display: flex;
  flex-direction: column;
  padding: 24px 0 32px 166px;
}

.carousel h3 {
  font-size: 14px;
  margin-bottom: 8px;
}

.carousel p {
  font-size: 26px;
  line-height: 41px;
}

carousel-tit-wrap:hover {
  text-decoration: underline;
}

.carousel dl {
  display: flex;
  color: #b2c0cc;
  margin-bottom: 10px;
}

.carousel dl:nth-child(3) {
  margin-top: 32px;
}

.section-wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 186px 1fr;
  padding: 0 166px 0;
  margin-top: 50px;
  column-gap: 40px;
}

/* aside */

.grid-wraps {
  max-width: 818px;
  grid-row: 1/3;
}

aside {
  width: 308px;
  height: 186px;
  border: 1px solid #d7e2eb;
  border-radius: 5px;
}

aside header {
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  border-bottom: 1px solid #d7e2eb;
}

.aside-cnt-wrap {
  padding: 16px;
  height: 100%;
}

.aside-cnt-wrap p {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}

.aside-cnt-wrap p:nth-child(2) {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
  color: #b2c0cc;
}

.aside-cnt-wrap a {
  display: block;
  text-align: center;
  padding: 12px 0 4px;
  width: 100%;
  height: 21px;
  border-radius: 5px;
  background-color: #0078ff;
}

.aside-cnt-wrap a:hover {
  background-color: #0866d1;
}

.program {
  position: relative;
}

.program h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.program-card {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  /* height: 220px; */
  margin-bottom: 20px;
  border: 1px solid #d7e2eb;
  border-radius: 10px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 16px 16px 24px;
  color: #5f7f90;
}

.cont-wrap h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
  color: #263747;
}

.cont-wrap h4:hover {
  color: #0078ff;
  text-decoration: underline;
}

.cont-wrap ul li {
  line-height: 22px;
}

.cont-wrap .cont-icon {
  display: flex;
  font-size: 30px;
}

.cont-wrap .cont-icon i {
  padding: 8px;
}

.position {
  position: relative;
}

.position h2 {
  margin-top: 90px;
  margin-bottom: 16px;
  font-size: 20px;
}

.position header ul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.position header ul li {
  background: #d8ddff;
  padding: 5px 16px;
  margin: 0 8px 8px 0;
  border-radius: 0.25rem;
  color: #0078ff;
  font-weight: 500;
}

.btn-more {
  position: absolute;
  top: -5px;
  right: 0;
  padding: 5px 13px;
  border: 1px solid #0078ff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #0078ff;
}

.position-card {
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #d7e2eb;
  border-radius: 5px;
}

.position-card img {
  height: 80px;
}

.position-card-right {
  padding-left: 24px;
}

.position-card-right h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  padding-bottom: 6px;
}

.position-card-right p {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  color: #98a8b9;
}

.position-card-right ul {
  display: flex;
}

.position-card-right ul li {
  padding: 3px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 2.5px;
  background-color: #e9ecf3;
  margin: 0 4px 4px 0;
}

.theme {
  margin-top: 50px;
}

.theme h2 {
  margin-top: 90px;
  margin-bottom: 16px;
  font-size: 20px;
}

.wrap-theme-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrap-theme {
  display: flex;
  width: 367px;
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #d7e2eb;
  border-radius: 4px;
  background-color: #fff;
}

.theme-card-right h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.theme-card-right p {
  font-size: 14px;
  line-height: 22px;
  margin: 8px 0;
  color: #98a8b9;
}

.theme-card-right a {
  font-size: 14px;
  line-height: 24px;
  color: #0078ff;
}

.theme-card-left {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 2.5px;
  margin-right: 24px;
  overflow: hidden;
}

.theme-card-left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.theme-card-left span {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 4px;
  padding: 4px 5px 2px;
  font-size: 12px;
  font-weight: 500;
  background: #263747;
  color: white;
}

.tech {
  position: relative;
}

.btn-tech {
  position: absolute;
  top: -4px;
  right: 0;
  padding: 5px 13px;
  border: 1px solid #0078ff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #0078ff;
}

.tech h2 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 20px;
}

.wrap-tech-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tech-card {
  width: 238px;
  border-radius: 5px;
  border: 1px solid #d7e2eb;
  background: #fff;
}

.tech-card-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 234px;
  padding: 16px;
}

.tech-card-top img {
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
}

.tech-card-top h4 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}

.tech-card-top p {
  font-size: 14px;
  line-height: 21px;
  color: #98a8b9;
}

.tech-card-top span {
  font-size: 12px;
  color: #98a8b9;
}

.el {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tech-card footer {
  position: relative;
  padding: 8px 16px 8px 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #5f7f90; */
  border-top: 1px solid #d7e2eb;
  color: #98a8b9;
  font-size: 12px;
}

.tech-card footer p::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  /* background-color: rebeccapurple; */
  background-image: url("/image/profile-user.png") 0 0 no-repeat;
}

.skill {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 16px;
  border: 1px solid #d7e2eb;
  border-radius: 5px;
}

.skill p {
  margin: 16px 0;
  font-size: 16px;
  line-height: 25px;
}

.skill-cont {
  background-color: #fbfbfd;
  display: flex;
  padding: 16px;
  border-radius: 5px;
  color: #212529;
}

.skill-cont:hover {
  background-color: #f4f4f8;
}

.skill-cont i {
  font-size: 55px;
  color: #98a8b8;
  border-radius: 5px;
}

.skill-right {
  padding: 0px 24px 0px 16px;
}

.skill-right h4 {
  color: #263747;
  font-size: 16px;
  line-height: 25.6px;
}

.skill-right p {
  font-size: 16px;
  line-height: 25px;
}

.skill-right dl {
  display: flex;
}

.skill-right dl dt {
  margin-right: 4px;
  color: #98a8b9;
}

.skill-right dl dd {
  margin-right: 10px;
}

.skill h5 {
  font-size: 16px;
  line-height: 25.6px;
  margin: 24px 0;
  font-weight: 400;
  color: #263747;
}

.skill h5 i {
  margin-right: 10px;
  color: #0078fe;
}

.wrap-level {
  display: flex;
  padding-left: 26px;
  margin-bottom: 8px;
}

.wrap-level li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.wrap-level li i {
  margin-bottom: 12px;
  font-size: 60px;
  color: #ebebeb;
}

.wrap-level li span {
  font-size: 14px;
  line-height: 21px;
  color: #98a8b9;
}

/* footer */

.footer-real {
  display: flex;
  justify-content: center;
  border-top: 1px solid #d7e2eb;
  margin-top: 80px;
}

.footer-real-wrap {
  display: flex;
  flex-direction: column;
  width: 1195px;
  padding: 48px 0px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top ul {
  display: flex;
}

.footer-top ul li strong {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #44576c;
}

.footer-top > ul > li > ul {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.footer-top > ul > li > ul li {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 21px;
  color: #98a8b9;
}

.cust-cont {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.footer-bottom a {
  font-size: 12px;
  font-weight: 700px;
  line-height: 18px;
  color: #98a8b9;
}

.brand {
  margin-bottom: 8px;
}

.footer-bottom dl {
  margin-bottom: 24px;
  color: #98a8b9;
}

.footer-bottom dl dd {
  font-size: 12px;
  line-height: 19px;
  max-width: 780px;
  color: #98a8b9;
}

.footer-last-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-last-bottom li ul {
  display: flex;
}

.footer-last-bottom li ul li {
  margin-right: 16px;
}

.personal-info a {
  color: #44576c;
}

.footer-hover:hover,
.footer-hover li:hover {
  color: #007bff;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #4867aa;
}

.fa-youtube:hover {
  color: #dc3545;
}

.fa-blogger:hover {
  color: #343a40;
}

.btn-select {
  padding: 4px 8px;
  border: 1px solid #d7e2eb;
  border-radius: 2.5px;
  font-size: 12px;
  color: #263747;
}

.btn-select:hover,
.btn-select:focus {
  background: #e9ecf2;
}

.family-list {
  display: flex;
  flex-direction: column;
  padding: 2px 14px;
  border: 1px solid #d7e2eb;
  border-radius: 2.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.family-list button {
  font-size: 12px;
  line-height: 1.5;
}

.family-list button:hover {
  color: #007aff;
}

.hide {
  visibility: hidden;
}
