@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

body {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: repeat(3, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background: #f4f7f6;
}

/* header */

header {
    z-index: 1;
    display: grid;
    grid-row: 1/2;
    background: #f4f7f6;
    width: 100%;
    height: 9rem;
}

.top {
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    /* color: #525252; */
}

.top > ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(214, 214, 214);
 }

.lang {
    margin-left: 1rem;
    color: #757575;
    text-decoration: underline;
}
.sns {
    margin: 0 1rem;
}

.sns > i {
    margin: 0 0.4rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(255, 175, 175); */
}

.menu,
.search,
.submit {
    font-size: 0.7rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    padding: 0 1rem 0 0;
    width: 10%;
    max-width: 70px;
    height: 100%;
    align-items: center;
    border-right: 1px solid rgb(214, 214, 214);
}

.search {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    width: 100%;
    justify-content: space-between;
    /* background: #666; */
}

.fa-search {
    font-size: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 15rem;
}

.register_wrap {
    display: flex;
    align-items: center;
    /* background: #555; */
}

.register_wrap > p {
    color: #525252;
    margin-right: 0.5rem;
}

.register {
    color: #000000;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: 100%;
    padding: 0 2rem;
    background: #49c5b6;
}

/* main */

main {
    display: grid;
    grid-row: 2/3;
}

/* main section */
.main_section {
    position: relative;
    background-image: url(./image/img1.jpg);
    width: 100%;
    height: 100%;
    min-height: 70vh;
    max-height: 1080px;
}

.date {
    position: absolute;
    top: 60px;
    left: 60px;
}

.main_background {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: #f4f7f6;
}

.main_background > article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main_background > article > h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.main_background > article > p {
    margin-bottom: 2rem;
}

.rate_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.circle_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
}

.circle_wrap > .content {
    font-size: 0.7rem;
    font-weight: 200;
}

.rate_circles {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 4px solid #49c5b6;
    border-radius: 10rem;
}

.main_rate > strong {
    font-size: 2rem;
    font-weight: normal;
}

/* card area */

.card_section {
    /* background: #525252; */
    margin: 2.5rem;
}

.card_section > header {
    height: 100%;
    padding: 3.5rem 0;
}

.card_section > header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card_section strong {
    margin-right: 0.8rem;
}

.join_btn {
    color: #222222;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 0.8rem;
    border: 1px solid #222222;
    border-radius: 50px 50px;
}

ul.card_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card_wrap__li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    max-width: 417px;
    max-height: 443px;
    background: #fff;

}

.margin_0 {
    margin: 0;
}

.web_img {
    width: 100%;
    max-width: 420px;
    max-height: 300px;
    object-fit: cover;
}

.web_desc {
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: normal;
    font-size: 0.8rem;
    color: #222222;
}

.web_desc > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.web_desc > ul:nth-child(1) {
    margin-bottom: 0;
}

.web_desc > strong {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.9rem;
}
.name {
    font-weight: 600;
}
.profile_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}
.profile {
    display: flex;
    align-items: center;
}
.profile_img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.tags {
    display: flex;
    align-items: center;
}

.tags > ul {
    display: flex;
}

.hm,
.dev,
.sotd {
    padding: 0.2rem 0.4rem;
    margin-right: 0.3rem;
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
}
.hm {
    background: #9fd2d6;
}

.dev {
    background: #8155ef;
}

.sotd {
    margin: 0;
    background: #f64e4e;
}
.button_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.load {
    padding: 1.5rem 3rem;
    background: #fff;
    font-size: 1rem;
    color: #c2c2c2;
}

/* footer */

footer {
    background: #fff;
    display: grid;
    margin-top: 4rem;
    grid-row: 3/4;    
}

.footer_top {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 0 4rem;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.footer_main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-weight: normal;
}

.fa-calendar-alt {
    font-weight: 500;
    margin: 0 0.5rem;
}

.footer_main span {
    font-weight: bold;
    text-decoration: underline;
}

.footer_nav {
    display: flex;
    margin-bottom: 2rem;
}

.footer_nav > li {
    margin-right: 1.5rem;
}

.footer_nav a {
    color: #121212;
    font-weight: 600;
    font-size: 0.8rem;
}

.footer_nav span {
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}


.dir {
    background: #FEF8D0;
}

.job {
    background: #B5EEE5;
}

.footer_sns {
    display: flex;
    margin-bottom: 5rem;
}

.footer_sns > li {
    margin-right: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
}

.footer_sns a {
    color: #121212;
    font-weight: 300;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    font-weight: 300;
    font-size: 0.8rem;
    color: #121212;
}

.footer_bottom > ul {
    display: flex;
}

.footer_bottom li {
    margin-right: 1rem;
}

.footer_bottom a {
    color: #121212;
}