html {

}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 72px 1fr 5%;
}

.sr-only {
    position: absolute; /* position: absolute/fixed 에서만 clip 속성 작동 */
    margin: -1px; /* 부트스트랩에선 안씀 */
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden; /* overflow: visible 이면 clip 속성 작동 안됨 */
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%); /* H5BP에선 안씀 */
}


/* header */

header {
    grid-row: 1/2;
    grid-column: 2/3;
}

header > ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
}

.nav li {
    padding: 0 20px;
}

.nav a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.nav, .header-fa {
    display: flex;
}

.header-fa i {
    margin-left: 12px;
    color: #000;
}

.header-fa:first-child {
    margin: 0;
}

/* main */
main {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-rows: 0.5fr 4fr 2fr 4fr 2fr;
    grid-template-columns: repeat(2, 1fr);
}

main > h1 {
    grid-row: 1/2;
    grid-column: 1/3;
    padding-top: 72px;
    font-size: 36px;
    font-weight: 700px;
    line-height: 52px;
}

.badge {
    background: #ff4024;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 28px;
    min-width: 26px;
    color: #fff;
    font-weight: 700;
    vertical-align: top;
}


/* section-first */

.section-first{
    grid-row: 2/3;
    grid-column: 1/3;
    padding-top: 42px;
}

.card {
    position: relative;
    background: rgb(255, 255, 255);
    max-height: 472px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    overflow: hidden;
    margin: 18px 0;
    transition: all 0.2s;
    cursor: pointer;
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    transform: translateY(-5px);
}

.mid {
    font-size: 22px;
    line-height: 32px;
}


.card .top {
    padding: 25px 24px 0 24px;
}

.card h2 {
    font-size: 32px;
    line-height: 46px;
    margin-top: 13px;
}

.circle-gray {
    color: #000;
    background: #d4d4d4;
    padding: 3px 5px;
    border-radius: 7px;
}


.top small {
    display: block;
    margin-top: 24px;
}

.wrap-img {
    width: 100%;
    height: 60%;
    margin-top: 30px;
    overflow: hidden;
}

.wrap-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-first-big {
    grid-row: 1/2;
    grid-column: 1/3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.card-second-mid {
    max-height: 395px;
    grid-column: 3/4;
}

.card-second-mid h2 {
    font-size: 22px;
    line-height: 32px;
}
.card-second-mid small {
    font-size: 13px;
}

.card-second-smol {
    max-height: 395px;
    grid-column: 3/4;
    padding-bottom: 25px;
}
.card-second-smol h2 {
    font-size: 22px;
    line-height: 32px;
}

.card-second-smol small {
    font-size: 13px;
}

.fa-ellipsis-v {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #999;
}

.wrap-first-second {
    grid-column: 3/4;
}

.wrap-first-third {
    grid-column: 4/5;
}

.section-first, .section-sec, .section-thi, .section-last {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.section-sec{
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 54px 0;
    margin: 36px 0;
    background: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;
}

.section-sec h2 {
    font-size: 42px;
    font-weight: bold;
}

.btn-black {
    align-self: center;
    background: #000;
    width: 135px;
    padding: 10px 10px;
    margin-top: 36px;
    font-size: 14px;
    border-radius: 42px;
}

.section-sec img {
    width: 900px;
    align-self: center;
    margin: 50px 120px 0 120px;
}

.section-thi{
    background: lightgreen;
    grid-row: 4/5;
    grid-column: 1/3;
}
.section-last{
    background: pink;
    width: 100%;
    grid-row: 5/6;
    grid-column: 1/3;
}

.section-last p {
    font-size: 32px;
    font-weight: bold;
}

.section-last p {
    margin-bottom: 24px;
}

.box-container {
    display: flex;
    grid-column: 1/6;
}

.section-last .btn-black {
}

.yellow-container, .blue-container {
    padding: 36px;
    margin: 0 18px;
    border-radius: 25px;
    max-height: 324px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.section-last .yellow-container {
    background: #FAE100;
}

.section-last .blue-container {
    background: #3C64FF;
}

.button-news {

}

/* footer */

footer {
    grid-row: 3/5;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    padding-bottom: 48px;
}

footer a {
    color: #888888;
}

footer strong {
    color: #000;
}

.footer-top {
    display: flex;
}

.top-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-desc li ul li {
    margin-top: 12px;
    font-size: 14px;
}

.footer-top-last-col {
    display: flex;
    flex-direction: column;
}

.footer-top-last-col a {
    margin-top: 36px;
}

.footer-top-last-col strong {
    margin: 0;
    font-size: 12px;
}

.footer-bottom {
    margin-top: 120px;
}

.bottom-desc {
    display: flex;
    font-size: 12px;
}

.bottom-desc > li {
    margin-left: 24px;
}

.bottom-desc > li:first-child {
    margin: 0;
}

small {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}

.color-bold {
    color: #333;
}

.card-second-big {

}

