@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #f4f7f6;
}

/* rem 써보기
font-size: 16px */

.top-header {
  display: flex;
  align-items: center;
  height: 7rem;
  border-bottom: 1px solid #999999;
  background-color: aquamarine;
}

.top-header > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-header > ul .lang {
  margin-left: 2.3rem;
  font-size: 1.3rem;
  font-weight: 300;
  border-bottom: 1px solid black;
  /* text-decoration: underline; */
  /* 어차피 div 박스처럼 감싸져 있는데 굳이 가상요소로 밑줄을 쳐야 할까? */
}

.top-header > ul:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 400;
}

.top-header > ul .sns {
  margin-right: 2.3rem;
}

.top-header > ul .sns i {
  padding-left: 0.3rem;
}

.nav-header {
  display: flex;
  align-items: center;
  height: 7rem;
  border-bottom: 1px solid #999999;
  background-color: blanchedalmond;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  /* 맞는지 궁금 */
  align-items: flex-end;
  width: 100%;
}

.nav-wrapper .menu {
  font-size: 1.3rem;
  font-weight: 400;
}

.nav-wrapper .logo {
  font-size: 2.2rem;
  font-weight: 600;
}

.nav-wrapper .register-submit {
  display: flex;
  font-size: 13px;
  font-weight: 400;
}
